<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <title>PETSc: Documentation: Citing PETSc</title>
  </head>
  <body>

    <div id="logo">
      <h1>PETSc</h1>
    </div>

    <div id="header">
      <h1><!--begin-->Documentation: Citing PETSc<!--end--></h1>
    </div>

    <hr>

    <div id="sidebar">
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../download/index.html">Download</a></li>
        <li><a href="../features/index.html">Features</a></li>
        <li>
          <a href="../documentation/index.html">Documentation</a>
          <ul>
            <li><a href="index.html">Manual pages and Users Manual</a></li>
            <li><span class="current">Citing PETSc</span></li>
            <li><a href="tutorials/index.html">Tutorials</a></li>
            <li><a href="installation.html">Installation</a> </li>
            <li><a href="saws.html">SAWs</a></li>
            <li><a href="changes/index.html">Changes</a></li>
            <li><a href="bugreporting.html">Bug Reporting</a></li>
            <li><a href="codemanagement.html">Code Management</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="license.html">License</a></li>
            <li><a href="linearsolvertable.html">Linear Solver Table</a></li>
          </ul>
        </li>
        <li><a href="../publications/index.html">Applications/Publications</a></li>
        <li><a href="../miscellaneous/index.html">Miscellaneous</a></li>
        <li><a href="../miscellaneous/external.html">External Software</a></li>
        <li><a href="../developers/index.html">Developers Site</a></li>
      </ul>
    </div>

    <!--begin-->

    <div id="main">

      When citing computations performed with PETSc in a publication, plus run the application code with all the options you usually use and the option -citations optionalfilename   This will generate a list of bibtex references appropriate for that computation.<p>

      If you utilize the TS ODE/DAE solvers please cite<br>

  <pre style="font-size: small">
     @article{abhyankar2018petsc,
       author={Abhyankar, Shrirang and Brown, Jed and Constantinescu, Emil M and Ghosh, Debojyoti and Smith, Barry F and Zhang, Hong},
       title={PETSc/TS: A Modern Scalable ODE/DAE Solver Library},
       journal={arXiv preprint arXiv:1806.01437},
       year={2018}
     }
  </pre>

     Also please cite the following: <br>

  <pre style="font-size: small">
     @Misc{petsc-web-page,
       author = {Satish Balay and Shrirang Abhyankar and Mark~F. Adams and Jed Brown and Peter Brune
                 and Kris Buschelman and Lisandro Dalcin and Alp Dener and Victor Eijkhout and William~D. Gropp
                 and Dinesh Kaushik and Matthew~G. Knepley and Dave~A. May and Lois Curfman McInnes
                 and Richard Tran Mills and Todd Munson and Karl Rupp and Patrick Sanan
                 and Barry~F. Smith and Stefano Zampini and Hong Zhang and Hong Zhang},
       title =  {{PETS}c {W}eb page},
       url =    {http://www.mcs.anl.gov/petsc},
       howpublished = {\url{http://www.mcs.anl.gov/petsc}},
       year = {2018}
     }

     @TechReport{petsc-user-ref,
       author = {Satish Balay and Shrirang Abhyankar and Mark~F. Adams and Jed Brown and Peter Brune
                 and Kris Buschelman and Lisandro Dalcin and Alp Dener and Victor Eijkhout and William~D. Gropp
                 and Dinesh Kaushik and Matthew~G. Knepley and Dave~A. May and Lois Curfman McInnes
                 and Richard Tran Mills and Todd Munson and Karl Rupp and Patrick Sanan
                 and Barry~F. Smith and Stefano Zampini and Hong Zhang and Hong Zhang},
       title  = {{PETS}c Users Manual},
       institution = {Argonne National Laboratory},
       year   = 2018,
       number = {ANL-95/11 - Revision 3.9},
       url    = {http://www.mcs.anl.gov/petsc}
     }

     @InProceedings{petsc-efficient,
       Author = "Satish Balay and William D. Gropp and Lois Curfman McInnes and Barry F. Smith",
       Title = "Efficient Management of Parallelism in Object Oriented Numerical Software Libraries",
       Booktitle = "Modern Software Tools in Scientific Computing",
       Editor = "E. Arge and A. M. Bruaset and H. P. Langtangen",
       Pages = "163--202",
       Publisher = "Birkh{\"{a}}user Press",
       Year = "1997"
      }
  </pre>

    </div>

    <!--end-->

    <hr>
  </body>
</html>
